// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

$fz:80px;
%tpl_test {
    color: #0a53be;
}
@mixin fontm($f) {
    font-size: $f;
}
img {
    max-width: 100%;
    height: auto;
    //&:hover {
    //
    //}
    //.block & {
    //    font-size: $fz;
    //}
}

//p {
//    @extend %tpl_test;
//    @extend .block;
//    @include fontm('100px')
//}

.notifications-wrapper {
    display: inline-block;
    margin-right: 25px;
    .badge {
        background-color: darkgreen;
    }
    svg {
        line-height: 1;
        height: 25px;
        path {
            fill: darkgreen;
        }
    }
}
